<header>
<nav>
    <a class="btn" [routerLink]="['']">|||| Boards</a>
    <a class="logo">Generic Task Manager</a>
</nav>
</header>
<div id="content-wrapper">
<div id="disclaimer" *ngIf="showDisclaimer">
  <h1>Warning:
  <span id="closeButton" (click)="closeDisclaimer()">x</span></h1>
  <p>
    Global Task Manager is a good Angular example app. Tt's not related in anyway with trello.
  </p>
  <p>
    All the data saved on this site is <strong class="red">deleted</strong> periodically without previous notice.
  </p>
</div>
  <router-outlet></router-outlet>
</div>